<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="SDK Facebook's Chatbot">
            <directory>./tests/unit</directory>
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>